<%- include('partials/header', { title }); %>
<main>
  <section class="germ-plasma-tiles">
    <div class="tile card" onclick="location.href='/cotton'">
      <img src="/images/cotton.jpg" alt="Cotton">
      <div class="tile-label">Cotton</div>
    </div>
    <div class="tile card" onclick="location.href='/wheat'">
      <img src="/images/wheat.jpg" alt="Wheat">
      <div class="tile-label">Wheat</div>
    </div>
  </section>
</main>
