<%- include('partials/header', { title }); %>
<main>
  <section class="about-section">
    <video src="/images/DNA.mp4" alt="DNA Animation" class="about-img" autoplay loop muted playsinline></video>
    <div class="about-text">
      <h2>Objective</h2>
      <p>The primary aim of NCG&SBCAS is to unlock genomic information and historic genetic foundations for major crops—wheat and cotton—addressing challenges like insect and pest complexes and climate change for sustainable food security.&nbsp;This portal aligns with national priorities for agricultural advancement.</p>
      <ul class="objectives-list">
        <li>Acquisition, maintenance, and characterization of germplasm for genetic purity—a foundation for genotyping.</li>
        <li>Genome sequencing of indigenous germplasm to uncover valuable genomic information.</li>
        <li>Upgrading and accelerating conventional breeding by integrating modern genomics.</li>
        <li>Capacity building and training in advanced genomic tools for researchers and students.</li>
      </ul>
      <p>
        The center will enable rapid identification of superior and unique germplasm traits, boost diversity and resilience in local crop varieties, and help train the next generation of scientists in genomics innovation.
      </p>
    </div>
  </section>
</main>
